<!DOCTYPE HTML>
<html>
	<head>
		<title>index</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			<a href="/orders/" target="_blank">erb页面</a><br />
			<a href="/json" target="_blank">JSON</a><br />			
			<a href="/img" target="_blank">图片1</a><br />
			<a href="/1.png" target="_blank">图片2</a><br />
			<a href="/custom" target="_blank">自定义http headers</a><br />
			<a href="/download" target="_blank">下载</a><br />
			<a href="/users/list/123/456" target="_blank">获取GET参数1</a><br />
			<a href="/users/view?name=admin" target="_blank">获取GET参数2</a>
		</div>
	</body>
</html>
