<!DOCTYPE HTML>
<html>
	<head>
		<title>users_upload</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			<form enctype="multipart/form-data" method="post" action="/users/do_upload">
    			<input type="file" name="file1" id="file1" />
    			<input type="submit" value="æäº¤" />
    		</form>
		</div>
	</body>
</html>
